node_modules
bin
sessions
samples
storage/*
!storage/_demos
!storage/_tutorials
storage/*/\.*

.idea
.settings
.project

assets/fonts/*
!assets/fonts/coolvetica.json

assets/images/*
!assets/images/polished-black-marble-slab.mat
!assets/images/space-blanket-folds.mat
!assets/images/green-apple-leaf,120,1280x720,30.png
!assets/images/herrsching-forest,120,5036x2636,30.jpg
!assets/images/indivisual-logo,120,1280x720,30.png
!assets/images/kopf-120,512x512,30.png
!assets/images/pennywise,120,1280x720,30.png
!assets/images/blue-marble,120,1920x960,30.png

assets/cubes/*
!assets/cubes/storforsen4
!assets/cubes/yokohama3

assets/textures/*
!assets/textures/rgb-noise.png

assets/videos/*
!assets/videos/dance,120,1280x720,30.mp4
!assets/videos/walk,120,1280x720,30.mp4