@import "data-class.css";
@import "data-color.css";
@import "icons.css";
@import "samples.css";
@import "monitor.css";
@import "sequence.css";
@import "explorer.css";
@import "guify-overwrite.css";
@import "general.css";

#status {
    background: #000000;
    z-index: 99999;
    box-sizing: border-box;
}

#status div {
    position: relative;
    height: 26px;
}

#status [data-mnemonic]:before {
    top: 1px;
}

pre#log {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.15vw;
    margin: 0;
    color: #2fd62f;
}

pre#osd {
    position: fixed;
    top: 33%;
    left: 12.5%;
    display: block;
    opacity: 0;
    border: 6px solid rgba(47, 161, 214, 0.5);
    border-radius: 1px;
    margin: 0 0 0 0;
    background: rgba(0, 0, 0, 0.8);
    color: #2fa1d6;
    font-size: 16px;
    z-index: 100;
    pointer-events: none;
    transition: opacity 0.15s;
    width: 75%;
    box-sizing: border-box;
    padding: 0;
}

pre#osd div {
    padding: 3px;
}

.fullscreenable:fullscreen {
    overflow-y: auto;
}

@media screen and (max-width: 958px) {
    #status div {
        height: 44px;
    }

    #status #layers {
        height: 26px;
    }
}

@media screen and (max-width: 768px) {

    body {
        overflow-y: auto;
        padding: 2px;
    }

    #monitor {
        margin-top: 53px;
        padding-top: 43%;
    }

    #status div {
        height: 26px;
    }

    #status {
        position: fixed;
        width: 99.4%;
        top: 0;
    }

    .blockfocus {
        max-width: 100%;
    }

    .left {
        float: none;
        margin: 0 auto;
        width: 100%;
        max-width: none;
        min-width: auto;
    }

    .item:not(.fh) {
        height: auto !important;
    }
}

@media screen and (max-width: 560px) {
    #status div {
        height: 44px;
    }

    #status #layers {
        height: 26px;
    }

    #status {
        width: 99.3%;
    }

    #monitor {
        margin-top: 71px;
    }
}

@media screen and (max-width: 425px) {

    #monitor {
        margin-top: 131px;
    }

    #status {
        width: 99%;
    }
    #status div {
        height: 26px;
    }

    .guify-main [data-class],
    [data-class] {
        width: auto !important;
        float: none !important;
    }

}
