:root {
    --red: #e61e60;
    --yellow: #e6c41e;
    --green: #1ee61e;
    --blue: #32aae6;
    --orange: #e6711e;
    --changed: var(--red);
    --gray: #363636;
}

[data-color="red"] {
    border-left: 6px solid var(--red) !important;
}

[data-color="yellow"] {
    border-left: 6px solid var(--yellow) !important;
}

[data-color="green"] {
    border-left: 6px solid var(--green) !important;
}

[data-color="blue"] {
    border-left: 6px solid var(--blue) !important;
}

[data-color="gray"] {
    border-left: 6px solid var(--gray) !important;
}

[data-background="blue"] {
    background-color: var(--blue);
}

[color="red"]:after {
    color: var(--red) !important;
}

[color="yellow"]:after {
    color: var(--yellow) !important;
}

[color="green"]:after {
    color: var(--green) !important;
}

[data-selected="true"] {
    color: var(--green) !important;
    border-left: 3px solid var(--green) !important;
    padding-left: 9px;
}

[data-border="red"] {
    border-left: 1px solid var(--red) !important;
}

[data-border="yellow"] {
    border-left: 1px solid var(--yellow) !important;
}

[data-border="orange"] {
    border-left: 1px solid var(--orange) !important;
}

[data-border="green"] {
    border-left: 1px solid var(--green) !important;
}

[data-border="blue"] {
    border-left: 1px solid var(--blue) !important;
}

[data-changed] {
    color: var(--changed) !important;
}

[data-changed] label,
[data-changed] input {
    color: var(--changed) !important;
}

[data-changed] select {
    color: var(--changed) !important;
}

[data-changed] select:hover {
    color: white !important;
}

[data-label]:after {
    position: absolute;
    content: attr(data-label);
    color: #ebebeb;
    background: #232323;
    line-height: 18px;
    border-radius: 2px;
    border: 1px solid #565656;
    padding: 0 4px;
    bottom: 4px;
    right: 4px;
    white-space: pre-wrap;
}

[data-mnemonic]:before {
    position: absolute;
    content: attr(data-mnemonic);
    color: var(--green);
    top: -5px;
    left: 3px;
    font-size: 8px;
    font-weight: bold;
    z-index: 1;
}
