
#Presets button {
    text-align: left;
}

.actions {
    position: absolute;
    right: 4px;
    top: 2px;
    display: block;
    height: 25px;
}

.actions div {
    background-size: 12px;
    display: inline-block;
    width: 14px;
    height: 14px;
    padding: 3px;
    margin: 0 0 0 2px;
    border-radius: 2px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(75%);
}

.actions div:hover,
.actions div.selected {
    filter: brightness(200%);
    background-size: 18px
}

.guify-component-container:hover .actions div {
    filter: brightness(0);
}

.preset [data-label]:after {
    top: 0;
    right: -18px;
}

.preset [data-mnemonic]:after {
    color: #e61d5f;
}

.preset [data-mnemonic]:before {
    top: -1px;
    left: -1px;
    color: #e61d5f;
    font-size: 14px;
}

.preset [data-mnemonic] {
    color: #e61d5f;
}

.preset .actions {
    top: 0;
    height: 20px;
}

.preset:hover button {
    color: rgb(235, 235, 235);
    background-color: rgb(112, 112, 112);
}
