.guify-bar_hrfSP {
    background: #232323 !important;
}
.guify-container_be6yU[data-mnemonic]:before {
    top: 3px;
    left: 49px;
}

.guify-component-container[data-mnemonic]:before {
    top: -4px;
    left: -6px;
}

.guify-component-container[role="button"][data-mnemonic]:before {
    top: 7px;
    left: -8px;
}

.guify-bar-title_hrfSP {
    box-sizing: border-box;
    top: 1px !important;
    padding-left: 60px;
    text-align: left !important;
}

.guify-button_1S84xL {
    width: calc(100%) !important;
}

.guify-panel_39NJay {
    padding: 2px 0 2px 1px !important;
}

.guify-panel-container_39NJay {
    position: relative !important;
}

.guify-folder-contents_1FExAJ[data-border] {
    padding-top: 8px;
    padding-bottom: 1px;
    background: #1a1a1a !important;
}

input[type=checkbox].guify-checkbox_hxzak + label {
    position: absolute;
    right: 2px;
}

#StatusBar div[data-class] > [aria-label] {
    text-align: right;
}

#StatusBar div[data-class] > div:first-child {
    width: 60% !important;
}

#StatusBar div[data-class] > div:nth-child(2) {
    width: 35.5% !important;
}

#StatusBar div[data-color] {
    padding-left: 4px;
}

#StatusBar div[data-class="full"] > div:first-child {
    width: 24.5% !important;
}

#StatusBar div[data-class="full"] > div:nth-child(2) {
    width: 73% !important;
}

.guify-component-container {
    clear: both !important;
    width: 99%;
}

.guify-component-container[data-class] {
    float: left;
    margin-right: 1%;
    box-sizing: border-box;
}

.guify-main {
    transition: all 500ms;
    opacity: 1;
    box-sizing: border-box;
    min-height: 25px;
}

.guify-main:empty {
    opacity: 0;
}

.guify-component-container[data-changed] > div > div {
    color: var(--changed) !important;
}

.guify-container_be6yU[data-mnemonic]:before {
    top: 3px;
    left: 49px;
}

.guify-component-container[data-mnemonic]:before {
    top: -4px;
    left: -6px;
}

.guify-component-container[role="button"][data-mnemonic]:before {
    top: 0px;
    left: 16px;
}
