
#samples {
    width: 100%;
    box-sizing: content-box;
    margin-bottom: 2px;
    white-space: nowrap;
}

#samples .sample {
    cursor: move;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 16.33%;
    height: 100%;
    margin-right: 0.4%;
}

#samples .sample .controls {
    cursor: default;
    z-index: 999;
    left: -1px;
    display: none;
    top: -89px;
    width: 130px;
    height: 70px;
    padding: 8px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.0) !important;
    border: 1px solid transparent !important;
    transition: all 125ms;
}

#samples .sample:hover .controls {
    display: block;
    border: 1px solid var(--blue) !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
    width: 130px;
    height: 70px;
}

#samples .sample .controls .guify-component-container {
    position: relative;
    opacity: 0;
}

#samples .sample:hover .controls .guify-component-container {
    opacity: 1;
}

#samples .sample[data-mnemonic]:before {
    top: auto;
    bottom: -1px;
    left: 0px;
    background: rgba(35, 35, 35, 0.5);
    font-size: 9px;
    line-height: 12px;
    border: none;
    padding: 1px 4px;
    border-top-right-radius: 3px;
    margin-bottom: 1px;
    font-weight: normal;
    color: #ebebeb;
}

#samples .sample[data-label]:after {
    box-sizing: border-box;
    max-width: 94%;
    right: 0;
    top: 4%;
    bottom: auto;
    max-height: 92%;
    overflow: hidden;
    background: rgba(35, 35, 35, 0.5);
    font-size: 9px;
    line-height: 12px;
    border: none;
    border-radius: 3px 0 0 3px;
}

#samples .sample[data-label="enabled"] {
    animation-name: enabled;
    animation-iteration-count: 3;
    animation-duration: 142.8ms;
    animation-direction: reverse;
}

@keyframes enabled {
    from {
        background: black;
    }
    to {
        background: var(--blue);
    }
}


#samples .sample[data-label="ready"] {
    animation-name: ready;
    animation-iteration-count: 3;
    animation-duration: 142.8ms;
    animation-direction: reverse;
}

@keyframes ready {
    from {
        background: black;
    }
    to {
        background: var(--green);
    }
}

#samples .sample[data-label="\[!ERROR\]"] {
    animation-name: error;
    animation-iteration-count: 3;
    animation-duration: 142.8ms;
    animation-direction: reverse;
}

@keyframes error {
    from {
        background: black;
    }
    to {
        background: var(--red);
    }
}
