
#SampleBar [data-class="hex"] {
    width: 16.666% !important;
    font-size: 8px;
    padding-left: 2px;
    border: 0 !important;
    margin-bottom: 0;
}

#SampleBar [data-class="hex"] span {
    display: none;
}

#SampleBar [data-class="hex"] input[type=checkbox].guify-checkbox_hxzak + label:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
}

#SampleBar [data-class="hex"] input[type=checkbox]:checked.guify-checkbox_hxzak + label:before {
    width: calc(8px - (2px * 2));
    height: calc(8px - (2px * 2));
}

#SampleBar [data-class="hex"] .guify-select-dropdown_3QiKDz {
    position: absolute;
    width: 25%;
    height: 12px;
    right: 3%;
    font-size: 8px;
    text-align: right;
    padding-right: 1.4%;
}

#SampleBar [data-class="hex"] .guify-component-container[data-id] {
    height: 14px !important;
    min-height: 14px !important;
}

#SampleBar [data-class="hex"] .guify-component-container[data-id] div div {
    line-height: 12px !important;
}

#SampleBar .sample {
    cursor: move;
    position: relative;
    top: -1px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    left: -2px;
}

#SampleBar .sample[data-mnemonic]:before {
    top: auto;
    bottom: -1px;
    left: 0px;
    background: rgba(35, 35, 35, 0.5);
    font-size: 9px;
    line-height: 12px;
    border: none;
    padding: 1px 4px;
    border-top-right-radius: 3px;
    margin-bottom: 1px;
    font-weight: normal;
    color: #ebebeb;
}

#SampleBar .sample[data-label]:after {
    box-sizing: border-box;
    max-width: 94%;
    right: 0;
    top: 4%;
    bottom: auto;
    max-height: 92%;
    overflow: hidden;
    background: rgba(35, 35, 35, 0.5);
    font-size: 9px;
    line-height: 12px;
    border: none;
    border-radius: 3px 0 0 3px;
}

#SampleBar .sample[data-label="enabled"] {
    animation-name: enabled;
    animation-iteration-count: 3;
    animation-duration: 142.8ms;
    animation-direction: reverse;
}

@keyframes enabled {
    from {
        background: black;
    }
    to {
        background: var(--blue);
    }
}

#SampleBar .sample[data-label="ready"] {
    animation-name: ready;
    animation-iteration-count: 3;
    animation-duration: 142.8ms;
    animation-direction: reverse;
}

@keyframes ready {
    from {
        background: black;
    }
    to {
        background: var(--green);
    }
}

#SampleBar .sample[data-label="\[!ERROR\]"] {
    animation-name: error;
    animation-iteration-count: 3;
    animation-duration: 142.8ms;
    animation-direction: reverse;
}

@keyframes error {
    from {
        background: black;
    }
    to {
        background: var(--red);
    }
}
